.App {
  max-width: 1000px;
  margin: 60px auto;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  font-family: "Fredoka", sans-serif;
}
.App img {
  max-width: 200px;
}
.App .temperature-degree {
  font-size: 90px;
}
.App .celsius-link {
  font-size: 16px;
}
.App .container {
  display: flex;
  justify-content: space-evenly;
}
.App ul {
  margin: 0px;
  padding: 0px;
}
.App li {
  list-style: none;
  padding: 30px 40px;
  margin: 10px;
  text-align: center;
  border: 1px solid #d7cdff;
  border-radius: 30px;
  background-color: #d7cdff;
  color: #332e55;
}
.App .weather-info {
  border: 1px solid transparent;

  padding: 40px;
}
.App form {
  margin-bottom: 40px;
}
