.weatherInfo {
  margin-left: 40px;
}
.weatherInfo h1 {
  font-size: 55px;
  margin-bottom: 10px;
  color: #0b1042;
}
.weatherInfo h3 {
  font-size: 23px;
  margin-top: 10px;
  color: #0b1042;
}
.weatherInfo li {
  margin: 0px 0px 20px 0px;
  list-style: none;
  padding: 20px 30px;
  text-align: center;
  color: #0b1042;
}
.weatherInfo .row .weather-info {
  margin-right: 20px;
  margin-top: 70px;
}
.weatherInfo .weather-degree {
  margin-top: 5px;
  font-size: 90px;
  color: #0b1042;
}
